name: Fetch Luogu data

on:
  workflow_dispatch:

jobs:
  luogu:
    runs-on: ubuntu-latest
    steps:
      - name: Set Timezone
        run: sudo timedatectl set-timezone "Asia/Shanghai"
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup CPany
        uses: cpanyjs/setup-cpany@v0
      - name: Fetch luogu data
        run: cpany fetch --plugin luogu --log error
        env:
          CLIENT_ID: ${{ secrets.LUOGU_CLIENT_ID }}
          UID: ${{ secrets.LUOGU_UID }}
      - name: Push
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "Fetch data on $FETCH_TIME"
          git push
