name: Capture Screenshot

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup CPany
        uses: cpanyjs/setup-cpany@v0
      - name: Capture Screenshot
        run: |
          cpany export --out screenshot --type png --page codeforces?sort=Rating
          cpany export --out members --type png --page members
          cpany export --out home --type png --page
      - name: Push
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "Fetch data on $FETCH_TIME"
          git push
      - uses: actions/upload-artifact@v5
        with:
          name: screenshot
          path: screenshot.png