name: Fetch data

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  # schedule:
  #   - cron:  '0 21 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Fetch data
        uses: yjl9903/CPany@v0.0.36